<!DOCTYPE html>
<html>
  <head>
    <title>Multiple Disease Predictor Site</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Multiple Disease Predictor</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('diabetes') }}">Diabetes Prediction</a></li>
          <li><a href="{{ url_for('parkinsons') }}">Parkinsons Prediction</a></li>
          <li><a href="{{ url_for('heartdisease') }}">Heart Disease Prediction</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
  <div class="container">
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>
