{%extends "layout.html"%}
{%block content%}



<style type="text/css">
  .form-style-3{
    max-width: 900px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 20px;
  }
  .form-style-3 label{
    display:block;
    margin-bottom: 10px;
  }
  .form-style-3 label > span{
    float: left;
    width: 350px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 1px #fff;
  }
  .form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #f5ac1b;
    padding: 20px;
    background: #db74af;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
  }
  .form-style-3 fieldset legend{
    color: #f21bb2;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 25px;
  }
  .form-style-3 textarea{
    width:250px;
    height:100px;
  }
  .form-style-3 input[type=text],
  .form-style-3 input[type=number],
  .form-style-3 select, 
  .form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #121211;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:50%;
  }
  .form-style-3  input[type=submit],
  .form-style-3  input[type=button]{
    background: #7495c4;
    border: 3px solid #0d0d0d;
    padding: 15px 25px 15px 25px;
    color: #fff;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    font-weight: bold;
    font-size: 15px;
  }

  body {
    background-image: url('/static/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
  
  </style>
<body>

  
 <center>
  <h1><br/>Parkinsons Prediction<br/><br/></h1>
  <div class="form-style-3">
    <form action="{{url_for('predictparkinsons')}}" method="post">
    <fieldset><legend>Please Provide The Details</legend>
      <h2>{{output_text}}</h2>
    <label for="field1"><span>MDVP:Fo(Hz)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 88.333-260.105 according to the dataset" class="input-field" name="field1" required="required" value="" /></label>
    <label for="field2"><span>MDVP:Fhi(Hz)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 102.145-592.030 according to the dataset" class="input-field" name="field2" required="required" value="" /></label>
    <label for="field3"><span>MDVP:Flo(Hz)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 65.476-239.170 according to the dataset" class="input-field" name="field3" required="required" value="" /></label>
    <label for="field4"><span>MDVP:Jitter(%)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.001680-0.033160 according to the dataset" class="input-field" name="field4" required="required" value="" /></label>
    <label for="field5"><span>MDVP:Jitter(Abs)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.000007-0.000260 according to the dataset" class="input-field" name="field5" required="required" value="" /></label>
    <label for="field6"><span>MDVP:RAP</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.000680-0.021440 according to the dataset" class="input-field" name="field6" required="required" value="" /></label>
    <label for="field7"><span>MDVP:PPQ</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.000920-0.019580 according to the dataset" class="input-field" name="field7" required="required" value="" /></label>
    <label for="field8"><span>Jitter:DDP</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.002040-0.064330 according to the dataset" class="input-field" name="field8" required="required" value="" /></label>
    <label for="field9"><span>MDVP:Shimmer</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.009540-0.119080 according to the dataset" class="input-field" name="field9" required="required" value="" /></label>
    <label for="field10"><span>MDVP:Shimmer(dB)</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.085000-1.302000 according to the dataset" class="input-field" name="field10" required="required" value="" /></label>
    <label for="field11"><span>Shimmer:APQ3</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.004550-0.056470 according to the dataset" class="input-field" name="field11" required="required" value="" /></label>
    <label for="field12"><span>Shimmer:APQ5</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.005700-0.079400 according to the dataset" class="input-field" name="field12" required="required" value="" /></label>
    <label for="field13"><span>MDVP:APQ</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.007190-0.137780 according to the dataset" class="input-field" name="field13" required="required" value="" /></label>
    <label for="field14"><span>Shimmer:DDA</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.013640-0.169420 according to the dataset" class="input-field" name="field14" required="required" value="" /></label>
    <label for="field15"><span>NHR</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.000650-0.314820 according to the dataset" class="input-field" name="field15" required="required" value="" /></label>
    <label for="field16"><span>HNR</span></span><input type="number" step="0.00000000000001" placeholder="generally between 8.441000-33.047000 according to the dataset" class="input-field" name="field16" required="required" value="" /></label>
    <label for="field17"><span>RPDE</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.256570-0.685151 according to the dataset" class="input-field" name="field17" required="required" value="" /></label>
    <label for="field18"><span>DFA</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.574282-0.825288 according to the dataset" class="input-field" name="field18" required="required" value="" /></label>
    <label for="field19"><span>spread1</span></span><input type="number" step="0.00000000000001" placeholder="generally between -7.964984 to -2.434031 according to the dataset" class="input-field" name="field19" required="required" value="" /></label>
    <label for="field20"><span>spread2</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.006274-0.450493 according to the dataset" class="input-field" name="field20" required="required" value="" /></label>
    <label for="field21"><span>D2</span></span><input type="number" step="0.00000000000001" placeholder="generally between 1.423287-3.671155 according to the dataset" class="input-field" name="field21" required="required" value="" /></label>
    <label for="field22"><span>PPE</span></span><input type="number" step="0.00000000000001" placeholder="generally between 0.044539-0.527367 according to the dataset" class="input-field" name="field22" required="required" value="" /></label>
   
    <label><span> </span><input type="submit" value="Predict" /></label>
    
    
    </form>

    <h2>{{output_text}}</h2>
    </div>
  </center>  
<body>
  {%endblock%}
